<div class="container">
    <div class="row">
        <pre>  </pre>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{mentor.image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{mentor.fullname}}</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <h1>Mentor Profile</h1>
            <pre>  </pre>
            <p>Name: <span class="red">{{mentor.fullname}}</span></p>
            <p>Contact Number: <span class="red">{{mentor.phone}}</span></p>
            <p>Email address: <span class="red">{{mentor.email}}</span></p>
            <p>Qualification: <span class="red">{{mentor.qualification}}</span></p>
            <p>Field of interest: <span class="red">{{mentor.interest}}</span></p> 
            <p>Experience and Achievements : <span class="red">{{mentor.experience_achievements}}</span></p>
        </div>
    </div>
</div>