<div class="container">
    <br>
    <br>
    
    
    {{!-- Search Box Starts --}}
    
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            body {
                background: #f2f2f2;
                font-family: 'Open Sans', sans-serif;
            }
    
            .search {
                width: 100%;
                position: relative;
                display: flex;
            }
    
            .searchTerm {
                width: 100%;
                border: 3px solid #00B4CC;
                border-right: none;
                padding: 5px;
                height: 36px;
                border-radius: 5px 0 0 5px;
                outline: none;
                color: #9DBFAF;
            }
    
            .searchTerm:focus {
                color: #00B4CC;
            }
    
            .searchButton {
                width: 40px;
                height: 36px;
                border: 1px solid #00B4CC;
                background: #00B4CC;
                text-align: center;
                color: #fff;
                border-radius: 0 5px 5px 0;
                cursor: pointer;
                font-size: 20px;
            }
    
            /Resize the wrap to see the search bar change !/ .wrap {
                width: 30%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        </style>
        <script>
            function checkInput() {
                var query = document.getElementById('qwerty').value;
                window.find(query);
                return true;
            }
        </script>
    </head>
    
    <body>
        <div class="wrap">
            <div class="search">
                <input id="qwerty" type="text" class="searchTerm" placeholder="What are you looking for?">
                <button onclick="checkInput()" type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </body>
    <br>
{{!-- Search Box Ends --}}

    {{#each posts}}
    <div class="media">
        <img class="mr-3 post-user-pic" src="{{user.image}}">
        <div class="media-body">
            <a href="/showposts/{{user._id}}"><h3 class="mt-0">{{user.fullname}}</h3></a>
            <h4>{{title}} <small class="red"><i class="fa fa-globe"></i></small></h4>
            <p>{{body}}</p>
            <small>{{date}}</small>
            <br>
            {{#if allowComments}}
            {{#each comments}}
            <div class="media mt-3">
                <a class="pr-3" href="#">
                    <img id="comment-user-picture" src="{{commentUser.image}}">
                </a>
                <div class="media-body">
                    <a href="/showposts/{{commentUser._id}}"><h5 class="mt-0">{{commentUser.fullname}}</h5></a>
                    <p>{{commentBody}}</p>
                    <small>{{commentDate}}</small>
                </div>
            </div>
            {{/each}}
            <br>
            <form action="/addComment/{{_id}}" method="POST" class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" name="commentBody" class="form-control" placeholder="Leave comment..">
                </div>
                <button type="submit" class="btn btn-primary mb-2">
                    <i class="fa fa-comment"></i>
                </button>
            </form>
            {{else}}
            <p class="reddish">Comments are not allowed on this posts</p>
            {{/if}}
        </div>
    </div>
    <hr>
    {{else}}
    <p>No posts found ...</p>
    {{/each}}
</div>