<div class="container">
    <br>
    <h1>Public Posts</h1>
    {{#each posts}}
    <div class="media">
        <img id="comment-user-picture" class="mr-3" src="{{user.image}}">
        <div class="media-body">
            <h4 class="mt-0">{{user.fullname}} <small class="red"><i class="fa fa-globe"></i></small></h4>
            <h5>{{title}}</h5>
            <p>{{body}}</p>
            <small>{{date}}</small>
        </div>
    </div>
    <hr>
    {{else}}
    <p>User does not have any posts</p>
    {{/each}}
</div>